@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{    
    Layout = null;
}
<aside class="mainContentSetup">
    <aside class="contentSetup main">
        <aside class="setupHead">
            <h3>Alerta de Productos</h3>
            <span id="closeSetup"><i class="fas fa-times"></i></span>
        </aside>
        <aside class="setupBody">
            <div class="boxItemSetup">
                <ul>
                </ul>
            </div>
        </aside>
    </aside>
    <link rel="stylesheet" href="~/css/object/modalMessage.css">
    <script src="~/js/object/modalMessage.js"></script>
</aside>